.button {
  border: 1px solid #4f46e5; // رنگ بنفش تیره
  color: #4f46e5;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(79, 70, 229, 0.3);

  &:hover {
    background-color: #e2e2e2;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(79, 70, 229, 0.4);
  }

  &:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(79, 70, 229, 0.2);
  }

  &:disabled {
    background-color: #3f3f46;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
