.header {
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  position: sticky;
  top: 0;
  padding: 0 20px;
}
.header__items {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.header__items a {
  padding: 15px;
  border-radius: 8px;

  &:hover {
    background-color: rgba(255, 180, 180, 0.342);
  }
}
.active {
  color: #fff;
  background-color: #1e40af;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: #3454bd !important;
  }
}

.logOut {
  border: 1px solid rgb(255, 57, 57);
  color: rgb(255, 57, 57);
  cursor: pointer;
}
